.nosotros h2 {
    text-align: center;
    font-size: 4rem;
    color: var(--azulClaro);
}

@media(min-width: 768px) {
  .nosotros h2 {
    font-size: 5rem;
  }
}

.contenido-nosotros {
    background-image: url('../../images/lonperluxcassete.JPG');
    display: grid;
    grid-template-rows: repeat(2,1fr);
    background-size: cover;
    background-position: center center;
    
}

@media(min-width: 768px) {
  .contenido-nosotros{
    grid-template-columns: repeat(2,1fr);
    background-attachment: fixed;
  }
}

.texto-nosotros{
    padding: 2rem;
    grid-row: 2/3;
    background-color: var(--blanco);
    text-align: center;
}

@media(min-width: 768px) {
  .texto-nosotros{
    padding: 5rem;
  }
}

.texto-nosotros h3 {
    font-size: 3rem;
    color: var(--azulClaro);
    text-align: center;
}

.texto-nosotros p {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3rem;
}
