@media(min-width: 768px) {
    .contenido-ventajas{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1rem;
    }
}

.ventajas {
    background-color: var(--ral7016);
    padding: 3rem;
}

.ventaja {
    color: var(--crema);
    text-align: center;
    margin: 5rem;
}

.ventaja i {
    font-size: 5rem;
    color: var(--mostaza);
}

.ventaja h3 {
    font-size: 5rem;
    font-family: var(--titulos);
}

.ventaja p {
    font-size: 2rem;
}
