.servicios-p {
    padding-top: 5rem;
}

.servicios-p h2 {
    font-size: 5rem;
    text-align: center;
    color: var(--azulClaro);
}

/*Cpntenido Movil*/

@media(min-width: 768px) {
  .contenido-servicios{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 6rem;
  }
}

.servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicios i {
    background-color: var(--azulClaro);
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--blanco);
    font-size: 3rem;
    box-shadow: 10px 10px 16px -6px rgba(0, 0, 0, 0.60);
    transition: all .3s ease-in-out;
}

.servicios h3 {
    font-size: 3rem;
    color: var(--azulOscuro);
}

.servicios p {
    font-size: 1.8rem;
    text-align: center;
}

@media(min-width: 768px) {
    .servicios p {
        text-align: left;
    }
}

@media(min-width: 768px) {
  .servicios:hover{
    cursor: pointer;
  }

  .servicios:hover .fa-solid {
    background-color: var(--blanco);
    color: var(--azulClaro);
}

}

